:root {
  --display-color: #fffdff;
  --main-bg: #091924;
  --calc-bg: #0d2636;
  --ac-color: #ff2d7a;
  --equals-color: #0498dc;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--main-bg);
}

#calculator {
  text-align: center;
  min-height: 33%;
  width: 500px;
  background-color: var(--calc-bg);
}

#keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: repeat(5, 1fr);
  grid-template-areas:
    "clear clear divide multiply"
    "seven eight nine subtract"
    "four five six add"
    "one two three equals"
    "zero zero decimal equals";
}

.keys {
  font-size: 40px;
  border: none;
  background-color: var(--calc-bg);
  color: var(--display-color);
  border: 1px solid var(--main-bg);
  min-height: 100px;
}

#total-display {
  background-color: var(--display-color);
  margin: 0;
}

#display {
  margin: 0;
}

#display-bis {
  margin: 0;
}
